h2 {
    background-color: blueviolet;
    color: white;
    text-align: center;
    margin: 1rem;
    padding: 1rem;
}
input {
    border: 1px solid black;
    padding: 1rem;
    margin: 1rem;
   text-decoration: none;
    
}
div{
    display: flex;
    align-items: center;
    justify-content: center;
    
}
#sumOfNums {
    border: 2px solid red;
    height: 2rem;
    width: 40%;
    padding: 10px;
}
h3{
    text-align: center;
    margin: 0rem;
    padding: 1rem;
}